<!DOCTYPE html >
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>LearnEd</title>
	{% load static %}
	<link rel='stylesheet' href="{% static 'blog/search.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
	<div id="nav">
	<nav>
		<ul>
			<li id='title'><a href="">LearnEd</a></li>
			<li id = 'write'><a href="{% url 'blog:writeBlog1' %}" >Write</a></li>
			<li id='aboutUs'><a href="{% url 'blog:aboutUs' %}">About Us</a></li>
			<li id='login'><a href="{% url 'blog:login' %}">Login</a></li>
			
		</ul>
	</nav>
	</div>
	<div id="search">
		<h1 id='moto'><img src = "{% static 'blog/images/learnEdLogo.png' %}" alt = 'LearnEd' width="400px" ></h1>
		<form action="{% url 'blog:searchProcess' %}" method="post">
			{% csrf_token %}
			<ul>
				<li>
					<input name="title" type="search" class='textInput' id='skill' autocomplete='off'>
				</li>
				<li id="suggestions"></li>
				<li><input type='submit' id="submit" name="submit" value='search' style="display:none"></li>
			</ul>
		</form>
		<script src = "{% static 'blog/search.js' %}"></script>
	</div>
</body>
</html>