<!DOCTYPE html >
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>LearnEd</title>
	{% load static %}
	<link href="{% static 'blog/password_reset_complete.css' %}" rel='stylesheet'>
</head>

<body>
	<div class='postResetBlock'>
		<div class=content>
			<header>
				<h1 class='title'>LearnEd</h1>
				<blockquote class='tagline'>Lets Learn Together</blockquote>
			</header>
			 
			<div class='Message'>
				<p>Your password has been set.You can <a href="{% url 'blog/login.html' %}">LogIn</a> now.</p>
			</div>
		</div>	
	</div>
</body>
