<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>LearnEd</title>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>LearnEd Blog</title>
	{% load static %}
	<link rel='stylesheet' href="{% static 'blog/resetPasswordEmail.css' %}">
</head>
<body>
	<div class='passwordresetEmailBlock'>
		<div class='header'>
			<h1>Welcome Anshuman</h1>
		</div>

		<div class='passwordResetEmail'>
			<p>
			Someone asked for password reset for email {{email}}. Follow the link below:
			{{ protocol }}://{{domain}}{% url 'blog/password_reset_confirm.html' uidb64=uid token=token %}
			Your username in case you've forgotten: {{user.get_username}}
			</p>
		</div>
	</div>
	<div class='foot'>
		<footer>
			<p id='contactInfo'><span id='contact'>Contact Us</span><br /><a href="mailto:mail2learned@gmail.com">mail2learned@gmail.com</a></p>
			<p id='copyrights'>&copy 2020 by LearnEd. All rights reserved.</p>
		</footer>
	</div>
</body>
</html>
