<!DOCTYPE html >
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>LearnEd</title>
	{% load static %}
	<link href="{% static 'blog/password_reset_done.css' %}" rel='stylesheet'>
</head>

<body>
	<div class='postResetBlock'>
		<header>
			<h1 class='title'>LearnEd</h1>
			<blockquote class='tagline'>Lets Learn Together</blockquote>
		</header>
		 
		<div class='Message'>
			<p>We've mailed you a link for resetting the password.<br /><br />If you dont haven't recieved an email, please make sure you've entered the address you registered with.</p>
		</div>
	</div>
</body>
