<!DOCTYPE html >
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>LearnEd</title>
	{% load static %}
	<link href="{% static 'blog/passwordChange.css' %}" rel='stylesheet'>
</head>

<body>
	<div id="nav">
	<nav>
		<ul>
			<li id='title'><a href="{% url 'blog:search' %}">LearnEd</a></li>
			<li id = 'write'><a href="{% url 'blog:writeBlog1' %}">Write</a></li>
			<li id='aboutUs'><a href="{% url 'blog:aboutUs' %}">About Us</a></li>
			{% if user.is_authenticated %}
			<li id = 'user' ><a href="{% url 'blog:userAccount'%}">{{user.username}}</a>
			<div class='dropdown-content'>
				<ul>
					<li><a href="{% url 'blog:userBlogs' %}">Your Blogs </a></li>
					<li><a href="{% url 'blog:userDrafts' %}">Drafts </a></li>
					<li><a href="#">Bookmarks</a></li>
					<li><a href="{% url 'blog:logout' %}">LogOut </a></li>
				</ul>
			</div>
			</li>
			{% else %}
			<li id='login'><a href="{% url 'blog:login' %}">Login</a></li>
			{% endif %}
		</ul>
	</nav>
	</div>
	<div class='pageContent'>
		<div class='changePasswordBlock'>
			<header>
				<h1 class='title'>LearnEd</h1>
				<blockquote class='tagline'>Lets Learn Together</blockquote>
			</header>
		
			<div class='changePasswordForm'>
				<h2>Change your Password</h2>
				<form action='.' method='POST' id='CPForm'>
					{% csrf_token %}
					<ul>
						<li><label>Old Password </label>{{form.old_password}}</li>
						<li><label>New Password </label>{{form.new_password1}}</li>
						<ul class='passwordGuidelines'>
							<li><p>Should not be too similar to your other personal information</p></li>
							<li><p>Should contain atleast 8 characters</p></li>
							<li><p>Cant be entirely numeric</p></li>
						</ul>
						<li><label>Confirm Password </label>{{form.new_password2}}</li>
						<li><input type='submit' value='Change Password' class='submitButton'></li>
					</ul>
				</form>	
			</div>
		</div>
	</div>
</body>