@font-face {
font-family: "Roboto Condensed";
src: url('fonts/Roboto Condensed/RobotoCondensed-Light.ttf');
}

body{

	font-family: 'Roboto Condensed',sans-serif,Arial;
	font-size:20px;
	color:black;
	background-color:white;
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}



/*-------------------*/

ul{
	list-style-type:none;
}

.header{
	background: linear-gradient(0deg, rgba(0,48,97,1) 0%, rgba(0,46,93,1) 7%, rgba(0,31,62,1) 57%, rgba(0,14,28,1) 100%);
	color:white;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	width:100%;
}

.header h1{
	width:1000px;
	text-align:left;
	padding:30px;
	margin:0px 40px;
}


.passwordResetEmailBlock{
	width:100%;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;

}


.passwordResetEmail{
	width:1000px;
	min-height:56vh;
	padding:20px 30px;
	margin:20px 40px 20px 40px;
	font-family:sans-serif,Arial;
	font-weight:lighter;
}


/*-----------------*/


.foot{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	box-sizing:border-box;
	width:100%;
	margin:96px 0px 0px 0px;
	background-image:linear-gradient(180deg,#202020,#404040);
	color:white;
	font-size: 19rem;
}

footer{
	text-align:center;
	padding:30px 4px 30px 4px;
	margin:4px;
}

#contact{
	display:block;
	margin:-20px;
}

#contactInfo a{
	text-decoration:none;
	color:white;
}

#contactInfo a:hover{
	text-decoration:underline;
	color:white;
}
