@font-face {
font-family: "Roboto Condensed";
src: url('fonts/Roboto Condensed/RobotoCondensed-Light.ttf');
}


body{

	font-family: 'Roboto Condensed',sans-serif,Arial;
	background:#222 url(images/backImg1.jpg) no-repeat center top;
	font-size:20px;
	color:black;
	background-color: #222222
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}


#title{
	flex-grow:10;
	text-align:left;
}

#title a:hover{
	border-width:0px;
	border-color:black;
}



nav ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display:flex;
	justify-content:space-between;
	background-color:#101010;
}

nav ul li a,button{
	font:inherit;
	font-size:20px;
	text-decoration:none;
	color:white;
	text-transform:uppercase;
	text-align:center;
	
	display:block;
	box-sizing:border-box;
	width:141px;
	padding:14px;
	border-radius:4px;
	margin:2px;
	background-color:#101010;
	outline:none;
	border-width:0px 0px 2px 0px;
	border-color: #101010;
	border-style: solid;

	transition:border-width 0.2s;

}

nav ul li a:hover{
	border-color: white;
}

.dropdown-content{
	display:none;
	position:absolute;
	border-radius:4px;
	z-index:1;
	padding:4px 0px 0px 0px;
	margin:0px;

}

.dropdown-content ul{
	background-color:white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
}

.dropdown-content ul li a{
	background-color:white;
	font:inherit;
	font-size:18px;
	color:black;
	text-align:right;
	width:136px;
	padding:14px;
	margin:2px;
	border-color:white;
	transition:background-color 0.2s;
}

.dropdown-content ul li a:hover{
	background-color:#EDEDED;
	color:black;
}


#user:hover .dropdown-content{
	display:flex;
	flex-flow:column nowrap;
}



/*---------------------------*/

.pageContent{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	margin:50px 0px 0px 0px;
}

ul{
	list-style-type:none;
}

header{
	padding:10px;
	margin:10px;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
	align-items:center;
}

header blockquote{
	margin:0px 2px;
	padding:2px;

}

h1{
	font-size:60px;
	padding:0px;
	margin:0px;
}


.changePasswordBlock{
	background-color:white;
	padding:0px 0px 40px 0px;
	margin:20px 20px 20px -24px;
	width:800px;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
	align-items:center;
	box-shadow:2px 2px 2px 4px white;
}

.changePasswordForm{
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
	align-items:center;
	padding:0px;
	margin:-10px 4px 4px 4px;
}

#CPForm{
	margin:0px 80px 0px 0px;
}

.passwordGuidelines{
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
	align-items:flex-start;
	list-style-type:circle;                /*Not working*/
	margin:-8px 0px 8px 220px;
}

.passwordGuidelines li{
	padding:0px;
	margin:0px;
}

.passwordGuidelines li p{
	padding:0px;
	margin:2px;
	font-size:16px;
}

.submitButton{
	margin:16px -210px 2px 0px;
	background-color:#084CB8;
	font:inherit;
	color:white;
	border:none;
	outline:none;
	padding:4px 8px;
}

.submitButton:hover{
	background-color:#1A54AF;
}


form{
	margin:0px 0px 0px -46px;
}

form ul li{
	display:flex;
	flex-flow:row;
	justify-content:center;
	align-items:center;
	margin:6px;
}

form ul li label{
	font-size:20px;
	margin:0px 4px;
	width:100px;
}

input{
	font-size:20px;
}

