@font-face {
font-family: "Roboto Condensed";
src: url('fonts/Roboto Condensed/RobotoCondensed-Light.ttf');
}

body{

	font-family: 'Roboto Condensed',sans-serif,Arial;
	color:black;
	font-size:20px;
	padding:none;
	margin:none;
	box-sizing:border-box;
	background:#222 url(images/backImg1.jpg) no-repeat center top;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	height:100vh;
}

ul{
	list-style-type:none;
}

header{
	margin:0px 10px 40px 10px;
	padding:2px;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
	align-items:center;
}

header blockquote{
	margin:0px 2px;
	padding:2px;

}

h1{
	font-size:60px;
	padding:0px;
	margin:0px;
}
.postResetBlock{
	background-color:white;
	padding:40px 0px 80px 0px;
	margin:-20px 40px 20px 10px;
	height:400px;
	width:800px;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
	align-items:center;
	box-shadow:2px 2px 3px 4px white;
}

.content{
	margin:4px 40px 4px 0px;
}

.message{
	margin:4px;
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	justify-content:flex-start;
}

#doneIcon{
	opacity:0;
	transition:opacity 0.7s ease-in-out;
}


p{
	padding:10px 20px 20px 20px;
	margin:4px;
}

a{
	color:blue;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

