@font-face {
font-family: "Roboto Condensed";
src: url('fonts/Roboto Condensed/RobotoCondensed-Light.ttf');
}

body{

	font-family: 'Roboto Condensed',sans-serif,Arial;
	color:black;
	font-size: 20px;
	background-color: #222222
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}


#title{
	flex-grow:10;
	text-align:left;
}

#title a:hover{
	border-width:0px;
	border-color:black;
}



nav ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display:flex;
	justify-content:space-between;
	background-color:#101010;
}

nav ul li a,button{
	font:inherit;
	font-size:20px;
	text-decoration:none;
	color:white;
	text-transform:uppercase;
	text-align:center;
	
	display:block;
	box-sizing:border-box;
	width:141px;
	padding:14px;
	border-radius:4px;
	margin:2px;
	background-color:#101010;
	outline:none;
	border-width:0px 0px 2px 0px;
	border-color: #101010;
	border-style: solid;

	transition:border-width 0.2s;

}

nav ul li a:hover{
	border-color: white;
}

.dropdown-content{
	display:none;
	position:absolute;
	border-radius:4px;
	z-index:1;
	padding:4px 0px 0px 0px;
	margin:0px;

}

.dropdown-content ul{
	background-color:white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
}

.dropdown-content ul li a{
	background-color:white;
	font:inherit;
	font-size:18px;
	color:black;
	text-align:right;
	width:136px;
	padding:14px;
	margin:2px;
	border-color:white;
	transition:background-color 0.2s;
}

.dropdown-content ul li a:hover{
	background-color:#EDEDED;
	color:black;
}


#user:hover .dropdown-content{
	display:flex;
	flex-flow:column nowrap;
}



/*-------------------*/

ul{
	list-style-type:none;
}

.header{
	background: linear-gradient(0deg, rgba(0,48,97,1) 0%, rgba(0,46,93,1) 7%, rgba(0,31,62,1) 57%, rgba(0,14,28,1) 100%);
	color:white;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	width:100%;
}

.header h1{
	width:1000px;
	text-align:left;
	padding:30px;
	margin:0px 40px;
}


.userRegistration{
	width:100%;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	font-size:18px;

}


.registrationForm{
	width:700px;
	min-height:60vh;
	padding:4px 4px;
	margin:36px 60px 10px 40px;
	font-family:sans-serif,Arial;
	font-weight:lighter;
	font-size:18px;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
	align-items: flex-start;

}

.registrationForm p{
	align-self: flex-start;
}



form{
	margin:0px 0px 20px 0px;
}


form ul li{
	display:flex;
	flex-flow:row;
	justify-content:flex-start;
	align-items:center;
	margin:20px 20px 20px 20px;
}

form ul li label{
	margin:0px 4px;
	width:100px;
}

input{
	padding:4px;
	width:180px;
	font-size:15px;
}


.usernameGuidelines{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:flex-start;
	list-style-type:circle;                /*Not working*/
	margin:-12px 20px -4px 60px;
}

.usernameGuidelines li{
	padding:0px;
	margin:0px;
}

.usernameGuidelines li p{
	padding:0px;
	margin:2px;
	font-size:16px;
}

form ul .error{
	margin:-8px 4px 12px 128px;
	color:red; 
	text-transform:uppercase;
	font-size:14px;
	font-family: 'Roboto', sans-serif, Arial;
}

.submitButton{
	margin:20px 20px 2px 0px;
	background-color:#084CB8;
	font:inherit;
	font-size:18px;
	color:white;
	border:none;
	outline:none;
	padding:8px 8px;
}

.submitButton:hover{
	background-color:#1A54AF;
}



/*-----------------*/


.foot{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	box-sizing:border-box;
	width:100%;
	margin:96px 0px 0px 0px;
	background-image:linear-gradient(180deg,#202020,#404040);
	color:white;
	font-size:19px;
}

footer{
	text-align:center;
	padding:30px 4px 30px 4px;
	margin:4px;
}

#contact{
	display:block;
	margin:-20px;
}

#contactInfo a{
	text-decoration:none;
	color:white;
}

#contactInfo a:hover{
	text-decoration:underline;
	color:white;
}







