@font-face {
font-family: "Roboto Condensed";
src: url('fonts/Roboto Condensed/RobotoCondensed-Light.ttf');
}

@font-face {
font-family: "Roboto";
src: url('fonts/Roboto/Roboto-Light.ttf');
}


body{

	font-family: 'Roboto Condensed',sans-serif,Arial;
	font-size:18px;
	color:black;
	background-color: #222222
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}


#title{
	flex-grow:10;
	text-align:left;
}

#title a:hover{
	border-width:0px;
	border-color:black;
}



nav ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display:flex;
	justify-content:space-between;
	background-color:#101010;
}

nav ul li a,button{
	font:inherit;
	font-size:20px;
	text-decoration:none;
	color:white;
	text-transform:uppercase;
	text-align:center;
	
	display:block;
	box-sizing:border-box;
	width:141px;
	padding:14px;
	border-radius:4px;
	margin:2px;
	background-color:#101010;
	outline:none;
	border-width:0px 0px 2px 0px;
	border-color: #101010;
	border-style: solid;

	transition:border-width 0.2s;

}

nav ul li a:hover{
	border-color: white;
}

.dropdown-content{
	display:none;
	position:absolute;
	border-radius:4px;
	z-index:1;
	padding:4px 0px 0px 0px;
	margin:0px;

}

.dropdown-content ul{
	background-color:white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
}

.dropdown-content ul li a{
	background-color:white;
	font:inherit;
	font-size:18px;
	color:black;
	text-align:right;
	width:136px;
	padding:14px;
	margin:2px;
	border-color:white;
	transition:background-color 0.2s;
}

.dropdown-content ul li a:hover{
	background-color:#EDEDED;
	color:black;
}


#user:hover .dropdown-content{
	display:flex;
	flex-flow:column nowrap;
}




/*-------------------*/


.header{
	background: linear-gradient(0deg, rgba(0,48,97,1) 0%, rgba(0,46,93,1) 7%, rgba(0,31,62,1) 57%, rgba(0,14,28,1) 100%);
	background-size:cover;
	color:white;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	width:100%;
}

.header h1{
	width:1000px;
	text-align:left;
	padding:30px;
	margin:0px 40px;
	text-transform:capitalize;
}


.content{
	width:100%;
	min-height:60vh;
	font-size:20px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:flex-start;
}

.content .blogs{
	width:900px;
	padding:4px 4px;
	margin:20px 20px 10px 20px;
	padding:10px;
	font-family:'Roboto',Arial,sans-serif;
	font-size:18px;
	display:flex;
	flex-flow:column nowrap;
	justify-content:flex-start;
	align-items:flex-start;

}


.blog{
	margin:4px 10px 4px -50px;
	padding:10px 20px 20px 20px;
	width:900px;
	box-shadow:0px 0px 1.4px 0.4px gray;
	background-color:#FDFDFD;

}


.blogInfo{
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	justify-content:flex-start;
}

.topicName{
	font-size:17px;
	font-style:normal;
	margin:4px 0px 0px;
	padding:8px 0px 8px;
	text-transform:capitalize;
	width:714px;
}

#verified{
	margin:10px 0px 4px 10px;
	text-transform: capitalize;
	color:white;
	font-size:17px;
	background: linear-gradient(90deg, rgba(0,17,36,1) 0%, rgba(0,44,93,1) 23%, rgba(0,77,153,1) 69%, rgba(0,104,198,1) 90%, rgba(0,117,255,1) 100%);
	padding:5px 9px 7px 12px;
	border-radius:4px;
}

pre{
	white-space:pre-wrap;
	font-family:"Roboto",Arial,sans-serif;
	font-size:16px;
	margin:0px 0px 20px 20px;
}

.blog p h3{
	font-size:18px;
}



.blog h2{
	font-size:20px;
	padding:0px 0px 20px 0px;
	border-width:0px 0px 1px 0px;
	border-color:gray;
	border-style:solid;
}

#editButton{
	background-color:#084CB8;
	font:inherit;
	font-size:18px;
	color:white;
	padding:8px 30px;
	margin:20px 20px 20px -50px;
	text-decoration:none;
	align-self:flex-end;
	border-radius:2px;
	transition:background-color 0.2s;
}

#editButton:hover{
	background-color:#1A54AF;
}

.content .sidebar{
	width:0px;
	padding:4px 0px;
	margin:10px 10px;
	position:-webkit-sticky;
	position:sticky;
	top:10px;
}



/*-----------------*/

.foot{
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	box-sizing:border-box;
	width:100%;
	margin:100px 0px 0px 0px;
	background-image:linear-gradient(180deg,#202020,#404040);
	color:white;

	font-size:19px;
}

footer{
	text-align:center;
	padding:30px 4px 30px 4px;
	margin:4px;
}

#contact{
	display:block;
	margin:-20px;
}

#contactInfo a{
	text-decoration:none;
	color:white;
}

#contactInfo a:hover{
	text-decoration:underline;
	color:white;
}









