<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>LearnEd Info</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'blog/aboutUs.css' %}">
</head>

<body>
	<div id="nav">
	<nav>
		<ul>
			<li id='title'><a href="{% url 'blog:search' %}">LearnEd</a></li>
			<li id = 'write'><a href="{% url 'blog:writeBlog1' %}">Write</a></li>
			<li id='aboutUs'><a href="{% url 'blog:aboutUs' %}">About Us</a></li>
			{% if user.is_authenticated %}
			<li id = 'user' ><a href="{% url 'blog:userAccount'%}">{{user.username}}</a>
			<div class='dropdown-content'>
				<ul>
					<li><a href="{% url 'blog:userBlogs' %}">Your Blogs </a></li>
					<li><a href="{% url 'blog:userDrafts' %}">Drafts </a></li>
					<li><a href="#">Bookmarks</a></li>
					<li><a href="{% url 'blog:logout' %}">LogOut </a></li>
				</ul>
			</div>
			</li>
			{% else %}
			<li id='login'><a href="{% url 'blog:login' %}">Login</a></li>
			{% endif %}
		</ul>
	</nav>
	</div>

	<div id="content">
		<div id="description">
			<section>
				<h1>About Us</h1>
				<p>The 21<sup>st</sup> century is easily the most rapidly evolving era of human history. Education thus is no longer just a school-university entity but more a lifelong process with learning being at the center of it.<br><br><strong>LearnEd</strong> is commited to providing <em>roadmaps for any skill</em> you want to learn by giving comprehensive structured content of sub-topics and resources relevant to that skill for free.</p>
				<p>#Connecting talent of India to its experience<br>#EmpoweringYouth #Empowering India #Self-sufficient India</p>
			</section>
		</div>
		<div id="info">
			<div id="team">
				<h1>Our Contributers</h1>
				<ul>
					<li><figure><img src="{% static 'blog/images/mickyMouse.png' %}" alt="ARC" /><figcaption>Anshuman Raj Chauhan<br />(Co-Founder)</figcaption></figure></li>
					<li><figure><img src="{% static 'blog/images/mickyMouse.png' %}" alt="ARC" /><figcaption>Ajay Pal<br />(Co-Founder)</figcaption></figure></li>
					<li><figure><img src="{% static 'blog/images/mickyMouse.png' %}" alt="ARC" /><figcaption>Akhil Sah<br />(Co-Founder)</figcaption></figure></li>
					<li><figure><img src="{% static 'blog/images/mickyMouse.png' %}" alt="ARC" /><figcaption>Akhilesh Kumar Verma<br />(Co-Founder)</figcaption></figure></li>
					<li><figure><img src="{% static 'blog/images/mickyMouse.png' %}" alt="ARC" /><figcaption>xyz<br />(Co-Founder)</figcaption></figure></li>
					<li><figure><img src="{% static 'blog/images/mickyMouse.png' %}" alt="ARC" /><figcaption>xyz<br />(Co-Founder)</figcaption></figure></li>
				</ul>
			</div>
		</div>
		<div class='foot'>
				<footer>
					<p id='contactInfo'><span id='contact'>Contact Us</span><br /><a href="mailto:mail2learned@gmail.com">mail2learned@gmail.com</a></p>
					<p id='copyrights'>&copy 2020 by LearnEd. All rights reserved.</p>
				</footer>
		</div>
		
	</div>
</body>
</html>