<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>LearnEd Blog</title>
	{% load static %}
	<link rel='stylesheet' href="{% static 'blog/blogs.css' %}">
	<link rel='stylesheet' href="{% static 'blog/blogsQuery.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
	<div id="nav">
	<nav>
		<ul>
			<li id='title'><a href="{% url 'blog:search' %}">LearnEd</a></li>
			<li id = 'write'><a href="{% url 'blog:writeBlog1' %}">Write</a></li>
			<li id='aboutUs'><a href="{% url 'blog:aboutUs' %}">About Us</a></li>
			{% if user.is_authenticated %}
			<li id = 'user' ><a href="{% url 'blog:userAccount'%}">{{user.username}}</a>
			<div class='dropdown-content'>
				<ul>
					<li><a href="{% url 'blog:userBlogs' %}">Your Blogs </a></li>
					<li><a href="{% url 'blog:userDrafts' %}">Drafts </a></li>
					<li><a href="#">Bookmarks</a></li>
					<li><a href="{% url 'blog:logout' %}">LogOut </a></li>
				</ul>
			</div>
			</li>
			{% else %}
			<li id='login'><a href="{% url 'blog:login' %}">Login</a></li>
			{% endif %}
		</ul>
	</nav>
	</div>
	<div class='sampleBlog'>
			{% if topic.name %}
			<div class='header'>
				<h1>{{topic.name}}</h1>
			</div>
			{% else %}
			<div class='header'>
				<h1>{{topic}}</h1>
			</div>
			{% endif %}
			
			{%if blog %}
			<div class='content'>
				<div class='blogs' id = 'blogs'>
				<div class='blog'>
					<div class='blogContent'>
						{% load markdown_extras %}
						<div class='blogInfo'>
							<em class='topicName'>{{blog.topic.name}}</em>
							{% if blog.verified %}
							<figure id = 'verified'>LearnEd's Choice <img src="{% static 'blog/images/verifiedTick.png' %}" alt=''></figure>
							{% else %}
							{% endif %}
						</div>
						<h2 class="authorName">@{{blog.author.user.username}}</h2>
						<p><h3>Prerequisites:</h3><pre>{{blog.preRequisites}}</pre><h3>Roadmap:</h3><pre>{{blog.blogContent | markdown | safe}}</pre></p>
					</div>
					<div class=blogInteract><img src= "{% static 'blog/images/upvoteIcon.png' %}" alt='' class='upvoteIcon'> <img src= "{% static 'blog/images/bookmarkIcon.png' %}" alt='' class='bookmark'> <img src= "{% static 'blog/images/commentIcon.png' %}" alt='' class='discuss'></div>	
				</div>
				</div>
				
				<div class='sidebar'>
					<div class='relatedTopics'>
						<img src="{% static 'blog/images/add1.jpeg' %}" alt='' />
						<img src="{% static 'blog/images/add1.jpeg' %}" alt='' />
					</div>
					<div class='advertisement'>
						<img src="{% static 'blog/images/add1.jpeg' %}" alt='' />
						<img src="{% static 'blog/images/add1.jpeg' %}" alt='' />
					</div>
				</div>
				</div>
			{% else %}
				<div class='content'>
				<div class='blog'>
					<p>
						Sorry, We dont have content on this topic yet.
					</p>
					<h2>Contribute to the LearnEd community</h2>
					<a href="{% url 'blog:writeBlog3' topic.id %}" id="writeLink" >Write a blog</a>
				</div>
				<div class='sidebar'></div>
				</div>
			{% endif %}
	</div>
	<div class='foot'>
		<footer>
			<p id='contactInfo'><span id='contact'>Contact Us</span><br /><a href="mailto:mail2learned@gmail.com">mail2learned@gmail.com</a></p>
			<p id='copyrights'>&copy 2020 by LearnEd. All rights reserved.</p>
		</footer>
	</div>		
</body>

<script src="{% static 'blog/blogs.js' %}"></script>
</html>


