<!DOCTYPE html >
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>LearnEd</title>
	{% load static %}
	<link href="{% static 'blog/password_reset_complete.css' %}" rel='stylesheet'>
	<script type='text/javascript'>
		setTimeout(function(){
			document.getElementById('doneIcon').style.opacity = '1';
		},0)
	</script>
</head>

<body>
	<div class='postResetBlock'>
		<div class=content>
			<header>
				<h1 class='title'>LearnEd</h1>
				<blockquote class='tagline'>Community for Learners</blockquote>
			</header>
			{% if new_user.is_authenticated %}
			<div class='message'>
				<h2>Welcome {{new_user.username}}</h2>
				<p>Your account has been created. You can <a href="{% url 'blog:login' %}">LogIn</a> now.</p>
				<img src="{% static 'blog/images/doneIcon.jpeg' %}" alt = '' id='doneIcon'>
			</div>
			{% endif %}
		</div>
	</div>
</body>

