<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>LearnEd Blog</title>
	{% load static %}
	<link href="{% static 'blog/register.css' %}" rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
	<div id="nav">
	<nav>
		<ul>
			<li id='title'><a href="{% url 'blog:search' %}">LearnEd</a></li>
			<li id = 'write'><a href="{% url 'blog:writeBlog1' %}" >Write</a></li>
			<li id='aboutUs'><a href="{% url 'blog:aboutUs' %}">About Us</a></li>
			<li id='user'><a href="{% url 'blog:login' %}">Login</a></li>
		
		</ul>
	</nav>
	</div>
	<div class='userRegistration'>
		<div class='header'>
			<h1>Create an account</h1>
		</div>

		<div class='registrationForm'>
			<p>Please, sign up using the following form:</p>
			<form action="{% url 'blog:register' %}" method='POST' id="signUpForm">
				{% csrf_token %}
				<ul>
					<li>
						<li id='username'><label>Username </label>{{user_form.username}}<li>
						<ul class='usernameGuidelines'>
							<li><p>150 characters or fewer. Letters,digits,and '_' only.</p></li>
						</ul>
					</li>
					<li id='usernameErrorMessage' class='error'></li>
					<li id='firstName'><label>First Name</label>{{user_form.first_name}}</li>
					<li id='firstNameErrorMessage' class='error'></li>
					<li id='email'><label>Email </label>{{user_form.email}}</li>
					<li id='emailErrorMessage' class='error'></li>
					<li id='password'><label>Password </label>{{user_form.password}}</li>
					<li id='passwordErrorMessage' class='error'></li>
					<li id='password2'><label>Confirm Password </label>{{user_form.password2}}</li>
					<li id='password2ErrorMessage' class='error'></li>
					<li><input type='submit' value='Create Account' id='submitButton' class='submitButton'></li>
				</ul>
			</form>

			<script src = "{% static 'blog/register.js' %}"></script>
	</div>

	
	<div class='foot'>
		<footer>
			<p id='contactInfo'><span id='contact'>Contact Us</span><br /><a href="mailto:mail2learned@gmail.com">mail2learned@gmail.com</a></p>
			<p id='copyrights'>&copy 2020 by LearnEd. All rights reserved.</p>
		</footer>
	</div>

		
</body>
</html>
