<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>LearnEd Blog</title>
	{% load static %}
	<link rel='stylesheet' href="{% static 'blog/userBlog.css' %}">

</head>

<body>
	<div id="nav">
	<nav>
		<ul>
			<li id='title'><a href="{% url 'blog:search' %}">LearnEd</a></li>
			<li id = 'write'><a href="{% url 'blog:writeBlog1' %}">Write</a></li>
			<li id='aboutUs'><a href="{% url 'blog:aboutUs' %}">About Us</a></li>
			{% if user.is_authenticated %}
			<li id = 'user' ><a href="{% url 'blog:userAccount'%}">{{user.username}}</a>
			<div class='dropdown-content'>
				<ul>
					<li><a href="{% url 'blog:userBlogs' %}">Your Blogs </a></li>
					<li><a href="{% url 'blog:userDrafts' %}">Drafts </a></li>
					<li><a href="#">Bookmarks</a></li>
					<li><a href="{% url 'blog:logout' %}">LogOut </a></li>
				</ul>
			</div>
			</li>
			{% else %}
			<li id='login'><a href="{% url 'blog:login' %}">Login</a></li>
			{% endif %}
		</ul>
	</nav>
	</div>
	<div class='sampleBlog'>
		<div class='header'>
			<h1>{{topic.name}}</h1>
		</div>
		{% if userBlog %}
		<div class='content'>
			<div class='blogs'>
			<div class='blog'>
				{% load markdown_extras %}    <!--changed-->
				<div class='blogInfo'>
						<em class='topicName'>{{userBlog.topic.name}}</em>
						{% if userBlog.verified %}
						<figure id = 'verified'>LearnEd's Choice <img src="{% static 'blog/images/verifiedTick.png' %}" alt=''></figure>
						{% else %}
						{% endif %}
					</div>
					<h2 class="authorName">@{{userBlog.author.user.username}}</h2>
				<p><h3>Prerequisites:</h3><pre>{{userBlog.preRequisites}}</pre><h3>Roadmap</h3><pre>{{userBlog.blogContent | markdown | safe}}</pre></p>   <!--changed-->
			</div>
				{% if selfBlog %}
				<a href="{% url 'blog:writeBlog2' userBlog.topic.id %}" id='editButton'>Edit</a>
				{% endif %}
			</div>
		</div>
		{% else %}
		<div class='content'>
			<div class='blogs'>
			<div class='blog'>
				<h2>No blog available</h2>
			</div>
			</div>
			<div class='sidebar'></div>
		</div>
		{% endif %}
	</div>
	<div class='foot'>
		<footer>
			<p id='contactInfo'><span id='contact'>Contact Us</span><br /><a href="mailto:mail2learned@gmail.com">mail2learned@gmail.com</a></p>
			<p id='copyrights'>&copy 2020 by LearnEd. All rights reserved.</p>
		</footer>
	</div>

		
</body>
</html>


